# News Popularity Online Prediciton

## Importing Relevant Libraries

In [16]:
#Relevant Analysis Libraries
import numpy as np
import pandas as pd
import statsmodels.api as sm

#Relevant Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

#Relevant Preprocessing Libraries
from sklearn.model_selection import train_test_split

#Setting Seaborn as Default Visualization Library
sns.set

## Loading Data

In [17]:
#Reading .csv file and saving as data_raw
data_raw = pd.read_csv('C:\\Users\\DELL\\Desktop\\Akshay\\Projects\\news_popularity_online\\news_popularity_online_dataset.csv')

## 1. Data Exploration

In [18]:
#Exploring the Head Rows in the Data Set
data_raw.head(10)

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
5,http://mashable.com/2013/01/07/beewi-smart-toys/,731.0,10.0,370.0,0.559889,1.0,0.698198,2.0,2.0,0.0,...,0.136364,0.6,-0.195000,-0.400,-0.100000,0.642857,0.214286,0.142857,0.214286,855
6,http://mashable.com/2013/01/07/bodymedia-armba...,731.0,8.0,960.0,0.418163,1.0,0.549834,21.0,20.0,20.0,...,0.100000,1.0,-0.224479,-0.500,-0.050000,0.000000,0.000000,0.500000,0.000000,556
7,http://mashable.com/2013/01/07/canon-poweshot-n/,731.0,12.0,989.0,0.433574,1.0,0.572108,20.0,20.0,20.0,...,0.100000,1.0,-0.242778,-0.500,-0.050000,1.000000,0.500000,0.500000,0.500000,891
8,http://mashable.com/2013/01/07/car-of-the-futu...,731.0,11.0,97.0,0.670103,1.0,0.836735,2.0,0.0,0.0,...,0.400000,0.8,-0.125000,-0.125,-0.125000,0.125000,0.000000,0.375000,0.000000,3600
9,http://mashable.com/2013/01/07/chuck-hagel-web...,731.0,10.0,231.0,0.636364,1.0,0.797101,4.0,1.0,1.0,...,0.100000,0.5,-0.238095,-0.500,-0.100000,0.000000,0.000000,0.500000,0.000000,710

In [19]:
#Exploring the Tail Rows in the Data Set
data_raw.tail(10)

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
39634,http://mashable.com/2014/12/27/music-grid-outf...,9.0,9.0,251.0,0.666667,1.0,0.786164,21.0,13.0,9.0,...,0.250000,1.00,-0.558333,-1.00,-0.125000,0.000000,0.000000,0.500000,0.000000,1000
39635,http://mashable.com/2014/12/27/nike-marc-newson/,9.0,13.0,478.0,0.514039,1.0,0.641844,18.0,2.0,2.0,...,0.033333,1.00,-0.223611,-0.40,-0.050000,0.100000,0.000000,0.400000,0.000000,1300
39636,http://mashable.com/2014/12/27/north-korea-int...,8.0,8.0,2509.0,0.348878,1.0,0.464923,23.0,1.0,10.0,...,0.100000,1.00,-0.231612,-0.60,-0.050000,0.000000,0.000000,0.500000,0.000000,1700
39637,http://mashable.com/2014/12/27/nypd-rafael-ram...,8.0,13.0,1629.0,0.425711,1.0,0.606092,15.0,12.0,6.0,...,0.033333,1.00,-0.429534,-1.00,-0.050000,0.783333,-0.600000,0.283333,0.600000,1400
39638,http://mashable.com/2014/12/27/protests-contin...,8.0,11.0,223.0,0.653153,1.0,0.825758,5.0,3.0,1.0,...,0.214286,0.80,-0.250000,-0.25,-0.250000,0.000000,0.000000,0.500000,0.000000,1200
39639,http://mashable.com/2014/12/27/samsung-app-aut...,8.0,11.0,346.0,0.529052,1.0,0.684783,9.0,7.0,1.0,...,0.100000,0.75,-0.260000,-0.50,-0.125000,0.100000,0.000000,0.400000,0.000000,1800
39640,http://mashable.com/2014/12/27/seth-rogen-jame...,8.0,12.0,328.0,0.696296,1.0,0.885057,9.0,7.0,3.0,...,0.136364,0.70,-0.211111,-0.40,-0.100000,0.300000,1.000000,0.200000,1.000000,1900
39641,http://mashable.com/2014/12/27/son-pays-off-mo...,8.0,10.0,442.0,0.516355,1.0,0.644128,24.0,1.0,12.0,...,0.136364,0.50,-0.356439,-0.80,-0.166667,0.454545,0.136364,0.045455,0.136364,1900
39642,http://mashable.com/2014/12/27/ukraine-blasts/,8.0,6.0,682.0,0.539493,1.0,0.692661,10.0,1.0,1.0,...,0.062500,0.50,-0.205246,-0.50,-0.012500,0.000000,0.000000,0.500000,0.000000,1100
39643,http://mashable.com/2014/12/27/youtube-channel...,8.0,10.0,157.0,0.701987,1.0,0.846154,1.0,1.0,0.0,...,0.100000,0.50,-0.200000,-0.20,-0.200000,0.333333,0.250000,0.166667,0.250000,1300

In [23]:
#Exploring the Shape of the Data Set
nRow, nCol = data_raw.shape
print(f'There are {nRow} rows and {nCol} columns in the data set')

There are 39644 rows and 61 columns in the data set

In [21]:
#Exploring the Columns in the Data Set
data_raw.columns

Index(['url', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min',
       ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg',
       ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares',
       ' self_reference_max_shares', ' self_reference_avg_sharess',
       ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', ' shares'],
      dtype='object')

In [53]:
#Exploring the Data Types in the Data Set
data_raw.dtypes.tolist()

[dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64')]

In [27]:
#Exploring the Discrete Statistics in the Dataset
data_raw.describe(include='all')

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
count,39644,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,...,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000
unique,39644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,http://mashable.com/2013/03/13/netflix-faceboo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,354.530471,10.398749,546.514731,0.548216,0.996469,0.689175,10.883690,3.293638,4.544143,...,0.095446,0.756728,-0.259524,-0.521944,-0.107500,0.282353,0.071425,0.341843,0.156064,3395.380184
std,NaN,214.163767,2.114037,471.107508,3.520708,5.231231,3.264816,11.332017,3.855141,8.309434,...,0.071315,0.247786,0.127726,0.290290,0.095373,0.324247,0.265450,0.188791,0.226294,11626.950749
min,NaN,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,1.000000
25%,NaN,164.000000,9.000000,246.000000,0.470870,1.000000,0.625739,4.000000,1.000000,1.000000,...,0.050000,0.600000,-0.328383,-0.700000,-0.125000,0.000000,0.000000,0.166667,0.000000,946.000000
50%,NaN,339.000000,10.000000,409.000000,0.539226,1.000000,0.690476,8.000000,3.000000,1.000000,...,0.100000,0.800000,-0.253333,-0.500000,-0.100000,0.150000,0.000000,0.500000,0.000000,1400.000000
75%,NaN,542.000000,12.000000,716.000000,0.608696,1.000000,0.754630,14.000000,4.000000,4.000000,...,0.100000,1.000000,-0.186905,-0.300000,-0.050000,0.500000,0.150000,0.500000,0.250000,2800.000000
max,NaN,731.000000,23.000000,8474.000000,701.000000,1042.000000,650.000000,304.000000,116.000000,128.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.500000,1.000000,843300.000000

### Observations:
#### Attribute Information:

1. url: URL of the article (non-predictive)
2. timedelta: Days between the article publication and the dataset acquisition (non-predictive)
3. n_tokens_title: Number of words in the title
4. n_tokens_content: Number of words in the content
5. n_unique_tokens: Rate of unique words in the content
6. n_non_stop_words: Rate of non-stop words in the content
7. n_non_stop_unique_tokens: Rate of unique non-stop words in the content
8. num_hrefs: Number of links
9. num_self_hrefs: Number of links to other articles published by Mashable
10. num_imgs: Number of images
11. num_videos: Number of videos
12. average_token_length: Average length of the words in the content
13. num_keywords: Number of keywords in the metadata
14. data_channel_is_lifestyle: Is data channel 'Lifestyle'?
15. data_channel_is_entertainment: Is data channel 'Entertainment'?
16. data_channel_is_bus: Is data channel 'Business'?
17. data_channel_is_socmed: Is data channel 'Social Media'?
18. data_channel_is_tech: Is data channel 'Tech'?
19. data_channel_is_world: Is data channel 'World'?
20. kw_min_min: Worst keyword (min. shares)
21. kw_max_min: Worst keyword (max. shares)
22. kw_avg_min: Worst keyword (avg. shares)
23. kw_min_max: Best keyword (min. shares)
24. kw_max_max: Best keyword (max. shares)
25. kw_avg_max: Best keyword (avg. shares)
26. kw_min_avg: Avg. keyword (min. shares)
27. kw_max_avg: Avg. keyword (max. shares)
28. kw_avg_avg: Avg. keyword (avg. shares)
29. self_reference_min_shares: Min. shares of referenced articles in Mashable
30. self_reference_max_shares: Max. shares of referenced articles in Mashable
31. self_reference_avg_sharess: Avg. shares of referenced articles in Mashable
32. weekday_is_monday: Was the article published on a Monday?
33. weekday_is_tuesday: Was the article published on a Tuesday?
34. weekday_is_wednesday: Was the article published on a Wednesday?
35. weekday_is_thursday: Was the article published on a Thursday?
36. weekday_is_friday: Was the article published on a Friday?
37. weekday_is_saturday: Was the article published on a Saturday?
38. weekday_is_sunday: Was the article published on a Sunday?
39. is_weekend: Was the article published on the weekend?
40. LDA_00: Closeness to LDA topic 0
41. LDA_01: Closeness to LDA topic 1
42. LDA_02: Closeness to LDA topic 2
43. LDA_03: Closeness to LDA topic 3
44. LDA_04: Closeness to LDA topic 4
45. global_subjectivity: Text subjectivity
46. global_sentiment_polarity: Text sentiment polarity
47. global_rate_positive_words: Rate of positive words in the content
48. global_rate_negative_words: Rate of negative words in the content
49. rate_positive_words: Rate of positive words among non-neutral tokens
50. rate_negative_words: Rate of negative words among non-neutral tokens
51. avg_positive_polarity: Avg. polarity of positive words
52. min_positive_polarity: Min. polarity of positive words
53. max_positive_polarity: Max. polarity of positive words
54. avg_negative_polarity: Avg. polarity of negative words
55. min_negative_polarity: Min. polarity of negative words
56. max_negative_polarity: Max. polarity of negative words
57. title_subjectivity: Title subjectivity
58. title_sentiment_polarity: Title polarity
59. abs_title_subjectivity: Absolute subjectivity level
60. abs_title_sentiment_polarity: Absolute polarity level
61. shares: Number of shares (target)

#### Dataframe; Data Channel

In [59]:
data_raw[[' data_channel_is_lifestyle', ' data_channel_is_entertainment', ' data_channel_is_bus', 
          ' data_channel_is_socmed', ' data_channel_is_tech',' data_channel_is_world', ' shares']].head(10)

,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world,shares
0,0.0,1.0,0.0,0.0,0.0,0.0,593
1,0.0,0.0,1.0,0.0,0.0,0.0,711
2,0.0,0.0,1.0,0.0,0.0,0.0,1500
3,0.0,1.0,0.0,0.0,0.0,0.0,1200
4,0.0,0.0,0.0,0.0,1.0,0.0,505
5,0.0,0.0,0.0,0.0,1.0,0.0,855
6,1.0,0.0,0.0,0.0,0.0,0.0,556
7,0.0,0.0,0.0,0.0,1.0,0.0,891
8,0.0,0.0,0.0,0.0,1.0,0.0,3600
9,0.0,0.0,0.0,0.0,0.0,1.0,710

#### Dataframe; No of Tokens/Keywords

In [60]:
data_raw[[' n_tokens_title', ' n_tokens_content', ' n_unique_tokens', ' n_non_stop_words', 
          ' n_non_stop_unique_tokens', ' average_token_length', ' num_keywords', ' shares']].head(10)

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,average_token_length,num_keywords,shares
0,12.0,219.0,0.663594,1.0,0.815385,4.680365,5.0,593
1,9.0,255.0,0.604743,1.0,0.791946,4.913725,4.0,711
2,9.0,211.0,0.575130,1.0,0.663866,4.393365,6.0,1500
3,9.0,531.0,0.503788,1.0,0.665635,4.404896,7.0,1200
4,13.0,1072.0,0.415646,1.0,0.540890,4.682836,7.0,505
5,10.0,370.0,0.559889,1.0,0.698198,4.359459,9.0,855
6,8.0,960.0,0.418163,1.0,0.549834,4.654167,10.0,556
7,12.0,989.0,0.433574,1.0,0.572108,4.617796,9.0,891
8,11.0,97.0,0.670103,1.0,0.836735,4.855670,7.0,3600
9,10.0,231.0,0.636364,1.0,0.797101,5.090909,5.0,710

#### Dataframe; No of Links/Imgs/Vids

In [62]:
data_raw[[' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos', ' shares']].head(10)

    num_hrefs   num_self_hrefs   num_imgs   num_videos   shares
0         4.0              2.0        1.0          0.0      593
1         3.0              1.0        1.0          0.0      711
2         3.0              1.0        1.0          0.0     1500
3         9.0              0.0        1.0          0.0     1200
4        19.0             19.0       20.0          0.0      505
5         2.0              2.0        0.0          0.0      855
6        21.0             20.0       20.0          0.0      556
7        20.0             20.0       20.0          0.0      891
8         2.0              0.0        0.0          0.0     3600
9         4.0              1.0        1.0          1.0      710

#### Dataframe; Published Day

In [63]:
data_raw[[' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday', ' weekday_is_thursday', 
          ' weekday_is_friday', ' weekday_is_saturday', ' weekday_is_sunday', ' is_weekend', ' shares']].head(10)

,weekday_is_monday,weekday_is_tuesday,weekday_is_wednesday,weekday_is_thursday,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend,shares
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,593
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,711
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1200
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,505
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,855
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,556
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,891
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3600
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,710

#### Dataframe; Worst/Best/Avg kws Min/Max/Avg shares

In [64]:
data_raw[[' kw_min_min', ' kw_max_min', ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max', 
          ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg', ' shares']].head(10)

,kw_min_min,kw_max_min,kw_avg_min,kw_min_max,kw_max_max,kw_avg_max,kw_min_avg,kw_max_avg,kw_avg_avg,shares
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,593
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,711
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1200
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,505
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,855
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,556
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,891
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3600
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,710

#### Dataframe; Min/Max/Avg shares of referenced articles in Mashable

In [65]:
data_raw[[' self_reference_min_shares', ' self_reference_max_shares', ' self_reference_avg_sharess', ' shares']].head(10)

,self_reference_min_shares,self_reference_max_shares,self_reference_avg_sharess,shares
0,496.0,496.0,496.000000,593
1,0.0,0.0,0.000000,711
2,918.0,918.0,918.000000,1500
3,0.0,0.0,0.000000,1200
4,545.0,16000.0,3151.157895,505
5,8500.0,8500.0,8500.000000,855
6,545.0,16000.0,3151.157895,556
7,545.0,16000.0,3151.157895,891
8,0.0,0.0,0.000000,3600
9,0.0,0.0,0.000000,710

In [66]:
data_raw[[' global_subjectivity', ' global_sentiment_polarity', ' global_rate_positive_words', 
          ' global_rate_negative_words', ' rate_positive_words', ' rate_negative_words', ' avg_positive_polarity', 
          ' min_positive_polarity', ' max_positive_polarity', ' avg_negative_polarity', ' min_negative_polarity', 
          ' max_negative_polarity', ' title_subjectivity', ' title_sentiment_polarity', ' abs_title_subjectivity', 
          ' abs_title_sentiment_polarity', ' shares']].head(10)

,global_subjectivity,global_sentiment_polarity,global_rate_positive_words,global_rate_negative_words,rate_positive_words,rate_negative_words,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,0.521617,0.092562,0.045662,0.013699,0.769231,0.230769,0.378636,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,0.341246,0.148948,0.043137,0.015686,0.733333,0.266667,0.286915,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,0.702222,0.323333,0.056872,0.009479,0.857143,0.142857,0.495833,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,0.429850,0.100705,0.041431,0.020716,0.666667,0.333333,0.385965,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,0.513502,0.281003,0.074627,0.012127,0.860215,0.139785,0.411127,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
5,0.437409,0.071184,0.029730,0.027027,0.523810,0.476190,0.350610,0.136364,0.6,-0.195000,-0.400,-0.100000,0.642857,0.214286,0.142857,0.214286,855
6,0.514480,0.268303,0.080208,0.016667,0.827957,0.172043,0.402039,0.100000,1.0,-0.224479,-0.500,-0.050000,0.000000,0.000000,0.500000,0.000000,556
7,0.543474,0.298613,0.083923,0.015167,0.846939,0.153061,0.427720,0.100000,1.0,-0.242778,-0.500,-0.050000,1.000000,0.500000,0.500000,0.500000,891
8,0.538889,0.161111,0.030928,0.020619,0.600000,0.400000,0.566667,0.400000,0.8,-0.125000,-0.125,-0.125000,0.125000,0.000000,0.375000,0.000000,3600
9,0.313889,0.051852,0.038961,0.030303,0.562500,0.437500,0.298413,0.100000,0.5,-0.238095,-0.500,-0.100000,0.000000,0.000000,0.500000,0.000000,710

#### Dataframe; Closeness to LDA topic 0/1/2/3/4

In [68]:
data_raw[[' LDA_00', ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04', ' shares']].head(10)

     LDA_00    LDA_01    LDA_02    LDA_03    LDA_04   shares
0  0.500331  0.378279  0.040005  0.041263  0.040123      593
1  0.799756  0.050047  0.050096  0.050101  0.050001      711
2  0.217792  0.033334  0.033351  0.033334  0.682188     1500
3  0.028573  0.419300  0.494651  0.028905  0.028572     1200
4  0.028633  0.028794  0.028575  0.028572  0.885427      505
5  0.022245  0.306718  0.022231  0.022224  0.626582      855
6  0.020082  0.114705  0.020024  0.020015  0.825173      556
7  0.022224  0.150733  0.243435  0.022224  0.561384      891
8  0.458250  0.028979  0.028662  0.029696  0.454412     3600
9  0.040000  0.040000  0.839997  0.040001  0.040002      710

In [70]:
data_raw.isnull().sum()

url                              0
 timedelta                       0
 n_tokens_title                  0
 n_tokens_content                0
 n_unique_tokens                 0
                                ..
 title_subjectivity              0
 title_sentiment_polarity        0
 abs_title_subjectivity          0
 abs_title_sentiment_polarity    0
 shares                          0
Length: 61, dtype: int64